[submodule "tools/zsteg"]
	path = tools/zsteg
	url = https://github.com/zed-0xff/zsteg
[submodule "tools/ROPgadget"]
	path = tools/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
[submodule "tools/jwt_tool"]
	path = tools/jwt_tool
	url = https://github.com/ticarpi/jwt_tool.git
[submodule "tools/ctf-tools"]
	path = tools/ctf-tools
	url = https://github.com/zardus/ctf-tools.git
